<!DOCTYPE html>
<html lang="en">
<head th:replace="head.html">

</head>
<body>
<!-- pagina di menu della applicazione -->
<div class="ui  doubling stakable grid container">
    <div class="ui  column">
    <h1>BENVENUTO NELLA GESTIONE RISTORANTI</h1><br>


    <div class="ui vertical menu">
        <a href="/restaurants" class="item">
            Mostra tutti i ristoranti
        </a>
        <a href="/restaurants/form-add" class="item">
            Aggiungi ristorante
        </a>

    </div>
    </div>
</div>
</body>
</html>